.newFlight {
  flex: 4;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  padding: 50px;
  -webkit-box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 8px 22px -9px rgba(0, 0, 0, 0.67);
  min-width: 0;
}

.newFlightTitle {
  margin-left: 15px;
}

.newFlightForm {
  margin-left: 15px;
  width: 100%;
  display: flex;
}

.newFlightFormCover {
}

.newFlightTop {
  margin-left: auto;
  margin-right: auto;
}

.newFlightItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

.newFlightItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.newFlightItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 7px;
}

.newFlightGender > input {
  margin-top: 15px;
}

.newFlightGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newFlightSelect {
  height: 40px;
  border-radius: 5px;
}

.newFlightBottom {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex;
}

.newFlightImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.newFlightBottomRight1 {
  display: flex;
  align-items: center;
}

.newFlightButton {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: teal;
  color: white;
  margin-top: 37px;
  font-weight: 600;
  cursor: pointer;
}

.newFlightButtonCreate {
  margin-left: auto;
}

.stock {
  padding: 10px 0;
  border-radius: 7px;
}
