.home {
  min-width: 0;
  flex: 4;
}

.homeChart {
  display: flex;
  flex-direction: column;
}

.homeChartTop {
  display: flex;
  width: 100vw - 250px;
}

.homeChartTopLeft {
  width: 50%;
}

.homeChartTopRight {
  width: 50%;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}
